@charset "UTF-8";

.background {
    background-color: rgb(40, 17, 104);
}

/* _____________________________________

   02. CSS Grid
   _____________________________________ */

   @supports (grid-area: auto) {

    .site {
       max-width: none;
    }

    /*------------ Grid Items ------------*/

    .main > * {
       display: grid;
          grid-template-columns: 1fr repeat(2, minmax(auto, 30em)) 1fr;
    }

    .hidden {
       display: none;
    }

    .one-item {
       display: grid;
       grid-column: 2 / span 2;
       grid-template-columns: 1fr;
    }

    .two-items {
       display: grid;
       grid-column: 2 / span 2;
       grid-template-columns: repeat(2, 1fr);
    }

    .two-items a {
      display: flex;
      justify-content: center;
      color: #fff;
      font-size: 6em;
      padding: 1em;
      line-height: 100px;
      background: #000;
      /* width: 350px; */
   }

h2 {
    color: #fff;
    font-size: 3em;
    line-height: 100px;
    background: #000;
    text-align: center;
    margin-left: 800px;
    margin-top: 100px;
    width: 350px;
}}